div {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.error {
  display: flex;
  flex-direction: column;
}

.profilesPage {
  display: flex;
  align-items: flex-start;
}

.all-profiles {
  display: flex;
  flex-direction: column;

  a {
    margin: 1rem;
  }
}
